@model IEnumerable<Trabalho.Models.TuristAnswer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SurveyNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TuristAnswerState)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuristAnswerState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer.AnswerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turist.TuristID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TuristAnswerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TuristAnswerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TuristAnswerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
