@model IEnumerable<Trabalho.Models.Trails>

@{
    ViewData["Title"] = "ShowTrails";
}
@foreach (var item in Model)
{
<h2 style="font-size:50px;padding-top:100px;color:chocolate">@Html.DisplayFor(modelItem => item.TrailsName)</h2>
}


@foreach (var item in Model)
{
    <li><h2>O trilho @Html.DisplayFor(modelItem => item.TrailsName) trata-se de @Html.DisplayFor(modelItem => item.Description) aberto em @Html.DisplayFor(modelItem => item.InitialDate) com a sua ultima
     manutencao em @Html.DisplayFor(modelItem => item.TrailsStateDate) com uma distancia de @Html.DisplayFor(modelItem => item.Distance)km</h2></li>
}

<div id="fillbackground">
</div>

