@model Trabalho.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="QuestionToClient" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuestionToClient" class="form-control" />
                <span asp-validation-for="QuestionToClient" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="QuestionState" class="col-md-2 control-label"></label>
            <div class="fa-edit dropdown-menu-right">
               @Html.DropDownListFor(model => model.QuestionState, (IEnumerable<SelectListItem>)ViewData["Select_YN"])

             
            </div>
        </div>

        <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<Trabalho.Models.ViewModels.CreateQuestionType_AnswerViewModel> type_answer = ViewBag.Type_Answer;

                    foreach (var course in type_answer)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="selectedType_Answer"
                                   value="@course.Type_AnswerID"
                                   @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                   @course.Type_AnswerID @:  @course.PossibleAnswer
                        @:</td>
                    }
                    @:</tr>
                }
        </table>
    </div>
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input  type="submit" value="Create" class="btn btn-default" /> 

            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
