@model Trabalho.Models.Questions

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Questions</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h6>Pergunta</h6>
            <div class="col-md-10">
                <input asp-for="QuestionsToClient" class="form-control" />
                <span asp-validation-for="QuestionsToClient" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <h6>Estado da Pergunta</h6>
            <div class="fa-edit dropdown-menu-right">
                @Html.DropDownListFor(model => model.QuestionsState, (IEnumerable<SelectListItem>)ViewData["Select_YN"])
            </div>
        </div>
         <div class="col-md-offset-2 col-md-10">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<Trabalho.Models.ViewModels.DifficultyViewModel> difficulty = ViewBag.Difficulty;

                    foreach (var difficulties in difficulty)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="selectedDifficulty"
                                   value="@difficulties.DifficultyID"
                                   @(Html.Raw(difficulties.Assigned ? "checked=\"checked\"" : "")) />
                                   @difficulties.DifficultyID @:  @difficulties.DifficultyName
                        @:</td>
                    }
                    

                    @:</tr>
                }
        </table>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="fillbackground">
</div>

