@model QuestionListViewModel

@{
    ViewData["Title"] = "Index";

}

<h2>Perguntas</h2>

<p>
    <a asp-action="ViewDieasesYesOrNo">Criar</a> ||
    <a asp-controller="Type_Answer" asp-action="Index">Lista de Respostas Possiveis</a> ||
    <a asp-controller="Diseases" asp-action="Index">Lista de Doenças</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID da Pergunta</th>
            <th>Pergunta</th>
            <th>Estado da pergunta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Question)
        {
            string selectedRow = "";
            if (item.QuestionID == (int?)ViewData["QuestionID"])
            {
                selectedRow = "info";
            }

            @if (item.QuestionState == false)
            {
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionToClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionState)
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-id="@item.QuestionID">Select |</a>
                        @if (item.QuestionID == 4)
                        {
                            <a asp-action="EditDis" asp-route-id="@item.QuestionID">Edit |</a>

                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit |</a>
                        }
                        <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionToClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionState)
                    </td>
                    <td>
                    
                            <a asp-action="Index" asp-route-id="@item.QuestionID">Select |</a>
                        @if (item.QuestionID == 4)
                        {
                            <a asp-action="EditDis" asp-route-id="@item.QuestionID">Edit |</a>

                        }
                        else
                        {
                            
                            <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit |</a>
                        }
                
                        <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@if (@ViewBag.QuestionID != 4) {
    @if (Model.Type_Answer != null)
    {

    <h3>Tipos de Resposta da Pergunta @ViewBag.QuestionID</h3>


    <table class="table">
        <tr>

            <th>Tipo de Resposta</th>

        </tr>


        @foreach (var item in Model.Type_Answer)
        {
            <tr>
                <td>
                    @item.PossibleAnswer
                </td>
                <td>
                    <a asp-controller="Type_Answer" asp-action="Edit" asp-route-id="@item.Type_AnswerID">Edit</a>
                </td>
            </tr>
        }

    </table>
    }
}
else { 

         @if (Model.Diseases != null)
         {
             <h3>Doenças da Pergunta @ViewBag.QuestionID</h3>
              <table class="table">
        <tr>

            <th>Doenças</th>

        </tr>


        @foreach (var item in Model.Diseases)
        {
            <tr>
                <td>
                    @item.DiseasesName
                </td>
                <td>
                    <a asp-controller="Diseases" asp-action="Edit" asp-route-id="@item.DiseasesID">Edit</a>
                </td>
            </tr>
        }
        
    </table>
             }
         }
