@model QuestionListViewModel

@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question)
{
    @if (item.QuestionState == true)
    {
        <tr class="alert-success">
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionToClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionState)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.QuestionID">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
            </td>
        </tr>
    }
    else
    {
        <tr class="alert-danger">
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionToClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionState)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.QuestionID">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>


@if (Model.Type_Answer != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>


        @foreach (var item in Model.Type_Answer)
        {
            string selectedRow = "";
            if (item.Type_AnswerID == (int?)ViewData["Type_AnswerID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.Type_AnswerID })
                </td>
                <td>
                    @item.PossibleAnswer
                </td>
            
            </tr>
        }

    </table>
}