@model Trabalho.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emergency_Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emergency_Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type_Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type_Client.Type_ClientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
