@model Trabalho.Models.Ans_Que

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ans_Que</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResPer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResPer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.QuestionID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ans_QueID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
