@model Trabalho.Models.Survey

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type_AnswerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type_AnswerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiseasesID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiseasesID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.QuestionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Turist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turist.TuristID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SurveyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
