@model IEnumerable<Trabalho.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type_AnswerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiseasesID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAnswer)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type_AnswerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiseasesID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turist.TuristID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurveyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurveyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurveyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
