@model QuestionListViewModel


@{
    ViewData["Title"] = "ViewResults";
}

<h2>Mensagem de Sucesso</h2>


<p>
    <a asp-controller="Home" asp-action="Index">Ok</a>
</p>

@foreach (var item in Model.Question)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionToClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionState)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.QuestionID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
        </td>
    </tr>
}

@foreach (var item in Model.Type_Answer)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PossibleAnswer)
        </td>
    </tr>
}
