@model IEnumerable<Trabalho.Models.Answer>

@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-info">
    <h1 class="block-title text-left-lg">Os meus Questionários</h1>
</div> 
<p>
    <a asp-action="Create" class="btn btn-lg btn-success">Criar Novo</a>
</p>
<div class="alert alert-link">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Survey.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerToClient)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Survey.Question)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerToClient)
                    </td>
                    <td>


                        <a asp-action="Edit" asp-route-id="@item.AnswerID" class="btn btn-primary">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.AnswerID" class="btn btn-inverse">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.AnswerID" class="btn btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>